@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-black text-black;
}

main {
  @apply min-h-[60vh] px-4;
}

.Glass {
  @apply rounded-sm max-w-min p-3;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

.Button {
  @apply hover:contrast-50 focus:contrast-50 transition;
}

.Button__Underline {
  @apply underline underline-offset-4 hover:underline-offset-2 focus:underline-offset-2 ease-in-out transition-all duration-300;
}

.BackButton {
  @apply flex items-center mx-auto max-w-max text-xl relative;
}

.BackButton__arrow {
  @apply absolute -left-6 transition-all duration-300;
}

.BackButton:hover .BackButton__arrow,
.BackButton:focus .BackButton__arrow {
  @apply -left-7;
}

.ErrorPage {
  @apply text-white max-w-max text-center mx-auto mt-44 relative;
}
