@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-black text-black;
}

main {
  @apply min-h-[60vh];
}

.Glass {
  @apply rounded-sm max-w-min p-3;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

.SpotifyGrid {
  @apply max-w-max xl:max-w-[1000px] mx-auto gap-x-7 xl:gap-x-0 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3;
}

.BackButton {
  @apply flex items-center mx-auto max-w-max text-xl underline underline-offset-4 hover:underline-offset-2 focus:underline-offset-2 ease-in-out transition-all duration-300 relative;
}

.BackButton__arrow {
  @apply absolute -left-6 transition-all duration-300;
}

.BackButton:hover .BackButton__arrow,
.BackButton:focus .BackButton__arrow {
  @apply -left-7;
}