@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-black text-black;
}

main {
  @apply min-h-[95vh];
}

.Glass {
  @apply rounded-sm max-w-min p-3;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}
